/* home */

.container {
    min-height: 90vh;
    margin-bottom: 15vh;
}

.home_wrap {
    display: flex;
}

.left_wrap {
    width: 70%;
}

.right_wrap {
    width: 30%;
}

@media screen and (max-width: 767px) {
    .left_wrap {
        width: 100%!important;
    }
    .right_wrap {
        display: none!important;
    }
}