/* menu */

.menu {
    width: 100%;
    display: flex;
    background: #272626;
    /* border-radius: 4px 4px 4px 4px; */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.menu li {
    float: left;
    list-style: none;
    margin: 0px 50px 0px 0px;
    font-size: 16px;
    padding: 0.5em;
}

.menu li a {
    text-decoration: none;
    color: rgb(146, 151, 150);
    transition: color linear 0.15s;
    cursor: pointer;
}

.menu .menu-logo {
    margin: auto;
    margin-left: 0px;
    padding: 10px 10px 10px 20px;
}

.menu .menu-logo a {
    color: #fff;
}

.menu a:hover, .menu .current_active a {
    text-decoration: none;
    color: #337275;
}

.toggle-nav {
    display: none;
}

.user_info {
    color: white;
    background-color: #337275;
    border-radius: 4px;
    padding: 0.5em;
    display: flex;
    transition: 0.6s all;
}

.user_info svg, .user_info span {
    margin: auto;
}

.user_info:hover {
    background-color: #2d575a;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .menu {
        position: relative;
        display: inline-block;
    }
    .toggle-nav {
        position: absolute;
        left: 4%;
        color: #ffffff;
        text-decoration: none;
        line-height: 40px;
    }
    .menu .menu-logo {
        position: relative;
        left: 40%;
    }
    .menu ul.active {
        display: none;
    }
    .menu ul {
        left: 0px;
        padding: 10px 25px;
        margin-top: -5px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 3px 3px;
        background: #272626;
    }
    .menu li {
        margin: 10px 0px 10px 0px;
        float: none;
        display: block;
    }
    .menu a {
        display: block;
    }
}

/* login  */

.logout {
    margin: 0 6px;
}

.login_input {
    border-radius: 1em;
    border: 1px solid #acacac;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin: 5px 0;
}

.login_input input {
    border: none;
    outline: none;
    width: 80%;
}

.login_input input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
}

.login_btnarea {
    display: flex;
    margin: 1em auto;
    width: 100%;
}

.loginbtn {
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    background-color: #4e4e4e;
    transition: 0.6s all;
    padding: .8em;
    color: white;
}

.loginbtn:hover {
    cursor: pointer;
    background-color: #272626;
}